header{background: #FF0022}

nav
{top:110px}
{right:0}
{position: absolute;}

nav li 
{display: inline;
    margin: 0 0 0 20px}

nav a 
{text-transform: uppercase;
    color: @000000;
    font-weight: bold;
    font-size:22 px;
    text-decoration: nome}